.download-button{
    background: linear-gradient(to right, #ff9100, #cb6ce6);
    width: 420px;
    border-radius: 20px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;   
    display: flex;
}

.download-text{
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 750;
    margin-left: 15px;
}

.download-button:hover{
    transform: scale(1.005);
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

.download-button-img{
    width: 80px;
    height: 80px;
    padding: 5px;
    
    img{
        width: 100%;
        height: 100%;
    }
}
