<div class="body-app">
  <app-header-text></app-header-text>
  <app-input-area (urlChange)="onUrlUpdate($event)"></app-input-area>

  <div *ngIf="mainButtonVisible">
    <app-accept-button
      (click)="onAcceptClick()"
      text="Download">
    </app-accept-button>
  </div>

  <div *ngIf="loadingText" class="loading-text">
    {{ loadingText }}
  </div>

  <div *ngIf="showDownloads" class="download-app">
    <app-download-media
      (click)="downloadMedia()"
      [disabled]="mediaDownloadInProgress"
      [text]="mediaDownloadInProgress ? 'Downloading...' : (contentType === 'video' ? 'Download video' : 'Download photo')"
      [class.disabled]="mediaDownloadInProgress">
    </app-download-media>

    <app-download-music
      (click)="downloadMusic()"
      [disabled]="musicDownloadInProgress"
      [text]="musicDownloadInProgress ? 'Downloading...' : 'Download music'"
      [class.disabled]="musicDownloadInProgress">
    </app-download-music>
  </div>
</div>
